/* .sche-list-board {
  margin-top: 1vh;
  height: 100vh;
  background-color: #000;
  overflow-y: scroll;
}

.lanes {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  gap: 16px;
  height: 100%;
}

#todo-form {
  margin: 1vh, 1vw;
}
#todo-form input {
  margin-right: 1vw;
  width: 25vw;
  height: auto;

  border-radius: 2px;
  border: none;
  
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 1rem;
  outline: none;  
}

#todo-form button {
  margin-top: 1vh;

  border-radius: 4px;
  border: none;
  
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25);
  background: white;
  color: #000;

  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  
}

.heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: whitesmoke;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-height: auto;
  width: 25vw;

  flex-shrink: 0;
}
.task {
  background: white;
  color: #000;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.15);

  padding: 1vw;
  border-radius: 4px;
  font-size: 1em;
  cursor: move;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
} */

.sche-list-board {
  margin-top: 1vh;
  height: 35vh;
  background-color: #000;
  overflow-y: scroll;
}

#sche-kanban-board {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  gap: 16px;
  height: 100%;
}

#addCardBtn {
  margin-left: 1vw;
  border-radius: 4px;
  width: auto;
  height: auto;
}

.column {
  margin-top: 1vh;
  display: inline-block;
  flex-direction: column;
  gap: 12px;

  background-color: whitesmoke;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  max-height: auto;
  height: 100%;
  width: 25vw;

  flex-shrink: 0;
}

.card {
  background: white;
  color: #000;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.15);

  margin: 1vw;
  padding: 1vw;
  border-radius: 4px;
  font-size: 1em;
  cursor: move;
}
