/* .listBlock {
    min-width: 330px;
    height: 95%;
    background-color: rgba(49, 49, 49, 0.7);
    margin: 15px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border: 1px;
    border-radius: 15px;
  }
  .listBlock .blockHead {
    height: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .listName {
    margin: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
  }
  .listContent {
    min-height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  }
   */