.date {
    margin: 0;
    font-size: small;
    text-align: left;
    padding-left: 20px;
}

.content {
    width: "90%";
    height: 80px;
    background-color: white;
    margin: 15px;
    margin-top: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    text-align: left;
}