/* header */

.header-comp {
    height: 56px;
    left: 0;
    min-width: 300px;
    position: fixed;
    top: 0;
    transition: top .3s;
    width: 100%;
    z-index: 4000;
}

.header-comp .header-inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    position: relative;
    transition: background .1s;
    width: 100%;
    z-index: 1001;
    background-color: white;
}

.header-comp .header-inner .global-menu-area {
    align-items: center;
    display: inline-flex;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .logo {
    padding: 0px 5px;
    position: relative;
    z-index: 10;
    height: 100%;
    max-width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-comp .header-inner .global-menu-area .logo img {
    width: 90%;
    border-radius: 50%;
}

.header-comp .header-inner .global-menu-area .menu {
    align-items: center;
    display: flex;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    width: calc(100vw - 99px);
    background-color: white;
}

.header-comp .header-inner .global-menu-area .menu ul {
    padding-left: 15px;
    padding-right: 30px;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .menu li {
    display: inline-block;
    float: none;
    padding: 0 2px;
    margin: 5px;
    color: black;
    /* 링크의 색상 제거 */
}

.global-menu-area .menu::-webkit-scrollbar {
    display: none;
    /*크롬*/
}

.menu li#is--active {
    font-size: large;
}

.menu li#no--active:hover {
    font-size: large;
    background-color: lightyellow;
    border-radius: 5px;
}