/* LectureNote.css */

#lecture {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
}

.lecture-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    flex-grow: 1;
}

#lecture-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lec-title {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 1vh;
}

#lec-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: lightsalmon;
}
#lec-info div {
    display: inline-block;
    text-align: center;
    margin: auto;
}
#lecture-team-schedule {
    max-width: 90vw;
    width: 100%;
    height: 40vh;
    max-height: 40vh;
    text-align: center;
    margin: 1vh 0px;
    background-color: white;
}

.sche-title {
    min-height: 40px;
    padding: 0 10vw;
    background-color: steelblue;
    text-align: center;
}

/* .sche-list-board {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: center;
    background-color: cornflowerblue;
    
} */

/* .sche-list-board #sche-board-group01 {
    display: inline;
    max-width: 25vw;
    width: 100%;
    height: auto;
    background-color: lightgreen;
}
.sche-list-board #sche-board-group02 {
    display: inline;
    max-width: 25vw;
    width: 100%;
    height: auto;
    background-color: lightgoldenrodyellow;
    margin-left: 1vw;
    margin-right: 1vw;
}
.sche-list-board #sche-board-group03 {
    display: inline;
    max-width: 25vw;
    width: 100%;
    height: auto;
    background-color: lightgreen;
}
 */


#lecture-etc {
    width: 100%;
    max-width: 90vw;
    height: 50vh;
    max-height: 60vh;
    margin: 2vh auto;
    background-color: orchid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}

.etc-col {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    width: 90%;
    margin-right: 2vw;
}
.etc-col #etc-toDoList {
    max-height: 30vh;
    height: 80%;
    background-color: aliceblue;
    margin-bottom: 2vh;
}
.etc-col #etc-TIL {
    max-height: 30vh;
    height: 80%;
    background-color: antiquewhite;
}
.etc-row {
    display: flex;
    flex-direction: row;
    max-width: 40vw;
    width: 90%;
    justify-content: center;
    background-color: cornsilk;
}
