/* LectureNote.css */

.header-comp {
    height: 56px;
    left: 0;
    min-width: 300px;
    position: fixed;
    top: 0;
    transition: top .3s;
    width: 100%;
    z-index: 4000;
}

.header-comp .header-inner {
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
    background: #1a1b1e;
    height: 100%;
    padding: 0 24px;
    position: relative;
    transition: background .1s;
    width: 100%;
    z-index: 1001;
}

.header-comp .header-inner .global-menu-area {
    align-items: center;
    display: inline-flex;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .logo {
    padding: 0px 5px;
    position: relative;
    z-index: 10;
    height: 100%;
    background-color: lightgoldenrodyellow;
}

.header-comp .header-inner .global-menu-area .menu {
    align-items: center;
    display: flex;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    width: calc(100vw - 99px);
    background-color: lightgray;
}

.header-comp .header-inner .global-menu-area .menu ul {
    padding-left: 15px;
    padding-right: 30px;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .menu li {
    display: inline-block;
    float: none;
    padding: 0 2px;
    margin: 5px;
    background-color: aliceblue;
}


/* .header-comp .header-inner .global-menu-area .menu li:first-child {
    padding: 0;
    background-color: yellow;
} */

.header-comp .header-inner .sub-menu-area {
    float: right;
}

.header-comp .header-inner .sub-menu-area .sub-menu {
    /* padding-top: 13px; */
    /* padding: 0px; */
    height: 100%;
    background-color: lightgoldenrodyellow;
}

/*lectureNote.css */

#lecture {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
}

.lecture-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    flex-grow: 1;
}

#lecture-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lec-title {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 1vh;
}

#lec-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: lightsalmon;
}
#lec-info div {
    display: inline-block;
    text-align: center;
    margin: auto;
}
#lecture-team-schedule {
    max-width: 90vw;
    width: 100%;
    height: 25vh;
    text-align: center;
    margin: 1vh 0px;
    background-color: yellow;
}

.sche-title {
    min-height: 40px;
    padding: 0 106px;
    background-color: steelblue;
}

.sche-scroll {
    flex-grow: 1;
    overflow: auto;
    background-color: lightseagreen;
}

.sche-list-board {
    margin: 0 106px;
    background-color: cornflowerblue;
}

#lecture-etc {
    width: 100%;
    max-width: 728px;
    margin: 1px auto;
    background-color: orchid;
}
