/* MainPage */

/* main-banner*/

.main-banner-comp {
    height: 55vh;
    max-height: 300px;
    min-height: 200px;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: lightblue;
}


.main-banner-comp .main-banner-inner .title-area {
    left: 50%;
    padding: 20px 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
    background-color: lightcoral;
}

.main-banner-comp .main-banner-inner .desc-area {
    bottom: 26px;
    /* left: 30px; */
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: lightcyan;
}



/* apply-grid-system */

.apply-grid-system {
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.apply-grid-system .content-comp {
    height: 55vh;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    background-color: lightyellow;
}

.apply-grid-system .side-menu {}

.apply-grid-system .content-inner {
    min-width: 300px;
    width: 100%;
    position: relative;
    text-align: left;
    background-color: lightcoral;
}

.apply-grid-system .content-inner .grid-container {
    /* align-items: center; */
    width: 100%;
    height: 100%;
    display: inline-flex;
}


/* .apply-grid-system .content-inner .grid-container .nav-grid-wrapper {
    background-color: lightpink;
} */

.apply-grid-system .content-inner .grid-container .content-area {
    width: 100%;
    height: 100%;
    background-color: lightpink;
}


/* .apply-grid-system .content-inner .grid-container .content-area .head-wrap {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 70%;
    background-color: lightgoldenrodyellow; 
}*/

.apply-grid-system .content-inner .grid-container .content-area .item-title-area {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    grid-column-start: 1;
    height: 30px;
    justify-content: left;
    border-bottom: 1px solid;
    /* margin-bottom: 16px;
    position: absolute; */
    background-color: lightgreen;
}

.apply-grid-system .content-inner .grid-container .content-area .lecture-note-area {
    grid-column: span 1 / auto;
    height: 80%;
    width: 98%;
    margin: 10px;
    display: inline-flex;
    background-color: lightskyblue;
}

.apply-grid-system .content-inner .grid-container .content-area .lecture-note-area .lecture {
    height: 50%;
    width: 100%;
    margin: 10px;
    background-color: lightgoldenrodyellow;
}

.apply-grid-system .content-inner .grid-container .side-area {
    width: 30%;
    height: 100%;
    background-color: yellow;
}

.apply-grid-system .content-inner .grid-container .side-area .diary {
    /* grid-column: span 2 / auto;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 7;
    grid-column-end: span 2; */
    height: 40%;
    margin: 20px;
    background-color: lightsalmon;
}

.apply-grid-system .content-inner .grid-container .side-area .vocab {
    /* grid-column: span 2 / auto;
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 7;
    grid-column-end: span 2; */
    height: 40%;
    margin: 20px;
    background-color: lightseagreen;
}


/* modal-overlay */

.modal-overlay {
    background: rgba(34, 34, 38, .6);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .2s;
    width: 100%;
    z-index: 4000;
}


/* ================================================================================ */