/* MainPage */

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
}

div {
    display: block;
}


/* header */

.header-comp {
    height: 56px;
    left: 0;
    min-width: 300px;
    position: fixed;
    top: 0;
    transition: top .3s;
    width: 100%;
    z-index: 4000;
}

.header-comp .header-inner {
    display: flex;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    height: 100%;
    padding: 0 24px;
    position: relative;
    transition: background .1s;
    width: 100%;
    z-index: 1001;
}

.header-comp .header-inner .global-menu-area {
    align-items: center;
    display: inline-flex;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .logo {
    padding: 0px 5px;
    position: relative;
    z-index: 10;
    height: 100%;
    background-color: lightgoldenrodyellow;
}

.header-comp .header-inner .global-menu-area .menu {
    align-items: center;
    display: flex;
    background-color: lightgoldenrodyellow;
}

.global-menu-area .menu::-webkit-scrollbar {
    display: none;
    /*크롬*/
}

.header-comp .header-inner .global-menu-area .menu ul {
    padding-left: 15px;
    padding-right: 30px;
    height: 100%;
}

.header-comp .header-inner .global-menu-area .menu li {
    display: inline-block;
    float: none;
    padding: 0 2px;
    margin: 5px;
}


/* main-banner*/

.main-banner-comp {
    height: 55vh;
    max-height: 300px;
    min-height: 200px;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: lightcyan;
}

.main-banner-comp .main-banner-inner .title-area {
    left: 50%;
    padding: 20px 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
    background-color: lightcoral;
}

.main-banner-comp .main-banner-inner .desc-area {
    bottom: 26px;
    /* left: 30px; */
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: lightcyan;
}


/* apply-grid-system */

.apply-grid-system {
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.apply-grid-system .content-comp {
    height: 55vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.apply-grid-system .content-inner {
    min-width: 300px;
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    /* display: inline-flex; */
    display: flex;
    text-align: left;
}

.apply-grid-system .content-inner .grid-container {
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    /* display: inline-flex; */
    flex-flow: row wrap;
}

.apply-grid-system .content-inner .content-area {
    width: 75vw;
    height: 100vh;
}

.apply-grid-system .content-inner .content-area .item-title-area {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    grid-column-start: 1;
    height: 50px;
    justify-content: left;
    border-bottom: 1px solid;
    /* margin-bottom: 16px;
    position: absolute; */
}

.apply-grid-system .content-inner .content-area .lecture-note-area {
    grid-column: span 1 / auto;
    height: auto;
    width: 98%;
    margin: 10px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.apply-grid-system .content-inner .content-area .lecture-note-area .lecture {
    height: 300px;
    width: 400px;
    margin: 10px;
    background-color: lightgoldenrodyellow;
}

.apply-grid-system .content-inner .addSubject {
    padding: 20px;
    text-align: center;
}

.apply-grid-system .content-inner .addSubject #save {
    margin: 20px;
    padding: 5px;
    font-size: small;
}

.apply-grid-system .content-inner .side-area {
    width: 25vw;
    height: 100vh;
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-style: italic;
    background-color: lightyellow;
}

.apply-grid-system .content-inner .side-area .diary-large-area {
    /* grid-column: span 2 / auto;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 7;
    grid-column-end: span 2; */
    height: 40%;
    margin: 20px;
}

.diary-large-area .diary-area {
    justify-content: center;
    align-content: space-around;
    background-color: lightcyan;
    border-radius: 20px;
    height: 95%;
    overflow-y: scroll;
}

.diary-area::-webkit-scrollbar {
    display: none;
    /*크롬*/
}

.diary-large-area .diary-area .input-area {
    display: inline-flex;
    justify-content: spa;
    align-items: center;
}

.diary-large-area .diary-area #contentInput {
    width: "100%";
    height: 50px;
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    text-align: left;
}

.diary-large-area .diary-area #save {
    padding: 8px;
    width: 50px;
    height: 30px;
    font-size: small;
    background-color: lightblue;
}

.apply-grid-system .content-inner .side-area .vocab-area {
    /* grid-column: span 2 / auto;
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 7;
    grid-column-end: span 2; */
    height: 40%;
    margin: 20px;
}

.vocab-area .voca {
    background-color: lightcyan;
    border-radius: 20px;
    height: 95%;
}


/* modal-overlay */

.modal-overlay {
    background: rgba(34, 34, 38, .6);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .2s;
    width: 100%;
    z-index: 4000;
}


/* ================================================================================ */